@import './../../Shared.scss';

.FinishedView {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(255,255,255,.9);
	overflow: hidden;
	border-radius: 25px;

	.FinishedView__btns_centered {
		@include center-element;

		.FinishedView__btns {
			@include complete-centering;

			.FinishedView__btns_cont {
				display: flex;
				display: -webkit-flex;
				align-items: center;
  				justify-content: center;

				.FinishedView__btn {
					border: 1px solid black;
					border-radius: 15px;
					margin: 10px;
					cursor: pointer;
					opacity: 0;
					@include animation(liftRight .75s forwards);
					@include transition(.5s background-color);

					&:hover {
						background-color: #f7f7f7;
						@include transition(.5s background-color);
					}

					span {
						display: block;
						padding: 15px;
						font-size: 18px;
					}
				}
			}

			.FinishedView__btns_cont_2 {
				display: flex;
				display: -webkit-flex;
				align-items: center;
  				justify-content: center;

				.FinishedView__finishedbtn {
					position: relative;
					opacity: 0;
					@include animation(liftLeft .75s forwards);

					span {
						display: block;
						padding: 15px;
						font-size: 18px;
						cursor: pointer;
					}

					&:first-child:after {
						content: '';
						display: block;
						position: absolute;
						right: 0;
						top: 50%;
						@include transform(translate3d(0,-50%,0));
						height: 25px;
						width: 1px;
						background-color: black;
					}
				}
			}
		}
	}

	.FinishedView__Quote-enter {
		opacity: 0;
		@include transition(opacity .5s);

		&.FinishedView__Quote-enter-active {
			opacity: 1;
			@include transition(opacity .25s);
		}
	}

	.FinishedView__Quote-leave {
		opacity: 1;
		@include transition(opacity .5s);

		&.FinishedView__Quote-leave-active {
			opacity: 0;
			@include transition(opacity .25s);
		}
	}
}

@include keyframes(liftRight) {
	0% {
		opacity: 0;
		@include transform(translate3d(-50px,0,0));
	}
	100% {
		opacity: 1;
		@include transform(translate3d(0,0,0));
	}
}

@include keyframes(liftLeft) {
	0% {
		opacity: 0;
		@include transform(translate3d(50px,0,0));
	}
	100% {
		opacity: 1;
		@include transform(translate3d(0,0,0));
	}
}