@import './../../Shared.scss';

.FinishedView {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(255,255,255,.9);

	.FinishedView__btns_centered {
		@include center-element;

		.FinishedView__btns {
			@include complete-centering;

			.FinishedView__btns_cont {
				display: flex;
				display: -webkit-flex;
				align-items: center;
  				justify-content: center;

				.FinishedView__btn {
					border: 1px solid black;
					border-radius: 15px;
					margin: 10px; 

					span {
						display: block;
						padding: 15px;
						font-size: 18px;
					}
				}
			}

			.FinishedView__btns_cont_2 {
				display: flex;
				display: -webkit-flex;
				align-items: center;
  				justify-content: center;

				.FinishedView__finishedbtn {
					position: relative;

					span {
						display: block;
						padding: 15px;
						font-size: 18px;
					}

					&:first-child:after {
						content: '';
						display: block;
						position: absolute;
						right: 0;
						top: 50%;
						@include transform(translate3d(0,-50%,0));
						height: 25px;
						width: 1px;
						background-color: black;
					}
				}
			}
		}
	}
}