@import './../../Shared.scss';

.PanelButtons {
	display: flex;
	display: -webkit-flex;
	width: 220px;
	padding-top: 2px;
	float: right;

	.PanelButtons__panelbtn {
		margin: 0 auto;
		border-radius: 50%;
		height: 70px;
		width: 70px;
		position: relative;
		opacity: .2;
		@include transition(all .5s);
		@include transform(scale3d(.95,.95,1));
		cursor: pointer;

		&:hover {
			&.active {
				@include transition(all .25s);
				@include transform(scale3d(1,1,1));
				.inner_outline .centered {
					opacity: 1;
					@include transition(all .2s);
					@include transform(scale3d(1,1,1));
				}
			}

			&.unactive {
				@include transform(scale3d(.95,.95,1));
				.inner_outline .centered {
					@include transform(scale3d(.95,.95,1));
				}
			}
		}

		&.unactive {
			opacity: .7 !important;
			cursor: default !important;
		}

		&.blue {
			background-color: #1f3364;
			opacity: 1;
		}

		.inner_outline {
			@include center-element;

			.centered {
				@include complete-centering;
				border: 2px solid #eaeaea;
				border-radius: 50%;
				height: 62px;
				width: 62px;
				background-color: transparent;
				opacity: 0;
				@include transition(all .75s);
				@include transform(scale3d(.9,.9,1));
			}
		}

		.text {
			@include center-element;
			color: white;
			font-size: 13px;
			line-height: 20px;

			div {
				@include complete-centering;
			}
		}
	}
}