@import './../../Shared.scss';

.SmallPanel {
	height: 645px;
	width: 1000px;
	border: 1px solid black;
	display: flex;
	display: -webkit-flex;
	border-radius: 25px;
	overflow: hidden;
	margin: 20px auto;

	.SmallPanel__leftcol {
		width: 250px;
	}

	.SmallPanel__rightcol {
		margin: 0 auto;

		h1 {
			font-size: 34px;
			margin: 10px 0 5px 0;
		}

		.SmallPanel__bolts_horiz {
			position: absolute;
			left: 0;
			right: 0;

			&.top {
				top: 20px;
			}

			&.bottom {
				bottom: 20px;
			}

			.SmallPanel__bolt {
				width: 16.6666%;
				float: left;

				&:before {
					content: '';
					width: 10px;
					height: 10px;
					border: 1px solid black;
					border-radius: 50%;
					display: block;
					margin: 0 auto;
					background-color: white;
					@include animation(bolted 1s forwards);
				}
			}
		}

		.SmallPanel__bolts_vert {
			position: absolute;
			top: 80px;
			bottom: 0;

			&.left {
				left: 20px;
			}

			&.right {
				right: 20px;
			}

			.SmallPanel__bolt {
				height: 33.3333%;

				&:before {
					content: '';
					width: 10px;
					height: 10px;
					border: 1px solid black;
					border-radius: 50%;
					display: block;
					margin: 0 auto;
					background-color: white;
					@include animation(bolted 1s forwards);
				}
			}
		}

		.SmallPanel__desc {
			font-size: 14px;
			margin: 0 0 20px 0;

			span {
				font-weight: 700;
			}
		}

		.SmallPanel__border {
			width: 5.15in; //actual panel specs
			height: 3.90in; //actual panel specs
			border: 1px solid black;
			position: relative;
			border-radius: 25px;
			background-color: #ececec;

			.SmallPanel__surface_centered {
				@include center-element;

				.SmallPanel__surface {
					@include complete-centering;
					width: 3.90in; //actual panel specs
					height: 2.63in; //actual panel specs
					border: 1px solid black;
					border-radius: 25px;
					background-color: #f7f7f7;
				}
			}
		}
	}
}

@include keyframes(bolted) {
	0% {
		@include transform(scale3d(0,0,1));
	}
	100% {
		@include transform(scale3d(1,1,1));
	}
}