@import './../../Shared.scss';

.LargePanel {
	height: 660px;
	width: 1000px;
	border: 1px solid black;
	display: flex;
	display: -webkit-flex;
	border-radius: 25px;
	overflow: hidden;
	margin: 20px auto;
	position: relative;

	.LargePanel__leftcol {
		width: 250px;
	}

	.LargePanel__rightcol {
		margin: 0 auto;

		h1 {
			font-size: 34px;
			margin: 10px 0 5px 0;
		}

		.LargePanel__bolts_horiz {
			position: absolute;
			left: 0;
			right: 0;

			&.top {
				top: 10px;
			}

			&.bottom {
				bottom: 10px;
			}

			.LargePanel__bolt {
				width: 10%;
				float: left;

				&:before {
					content: '';
					width: 10px;
					height: 10px;
					border: 1px solid black;
					border-radius: 50%;
					display: block;
					margin: 0 auto;
					background-color: white;
					@include animation(boltedSmall 1s forwards);
				}
			}
		}

		.LargePanel__bolts_vert {
			position: absolute;
			top: 75px;
			bottom: 0;

			&.left {
				left: 10px;
			}

			&.right {
				right: 10px;
			}

			.LargePanel__bolt {
				height: 20%;

				&:before {
					content: '';
					width: 10px;
					height: 10px;
					border: 1px solid black;
					border-radius: 50%;
					display: block;
					margin: 0 auto;
					background-color: white;
					@include animation(bolted 1s forwards);
				}
			}
		}

		.LargePanel__desc {
			font-size: 14px;
			margin: 0 0 20px 0;

			span {
				font-weight: 700;
			}
		}

		.LargePanel__border {
			width: 7.25in; //actual panel specs
			height: 5in; //actual panel specs
			border: 1px solid black;
			position: relative;
			border-radius: 25px;
			background-color: #ececec;

			.LargePanel__surface_centered {
				@include center-element;

				.LargePanel__surface {
					@include complete-centering;
					width: 6in; //actual panel specs
					height: 3.75in; //actual panel specs
					border: 1px solid black;
					border-radius: 25px;
					background-color: #f7f7f7;
				}
			}
		}
	}

	.LargePanel__finishedView-enter {
		opacity: 0;
		@include transition(opacity .5s);

		&.LargePanel__finishedView-enter-active {
			opacity: 1;
			@include transition(opacity .5s);
		}
	}

	.LargePanel__finishedView-leave {
		opacity: 1;
		@include transition(opacity .5s);

		&.LargePanel__finishedView-leave-active {
			opacity: 0;
			@include transition(opacity .5s);
		}
	}
}

@include keyframes(boltedSmall) {
	0% {
		@include transform(scale3d(0,0,1));
	}
	100% {
		@include transform(scale3d(1,1,1));
	}
}