@import './../../Shared.scss';

.LargePanel {
	height: 660px;
	width: 1000px;
	border: 1px solid black;
	display: flex;
	display: -webkit-flex;
	border-radius: 25px;
	overflow: hidden;
	margin: 20px auto;
	position: relative;

	.LargePanel__leftcol {
		width: 250px;
	}

	.LargePanel__rightcol {
		margin: 0 auto;
		position: relative;

		h1 {
			font-size: 24px;
			margin: 10px 0 5px 0;
		}

		.LargePanel__info {
			position: absolute;
		    bottom: 10px;
		    left: 0;
		    width: 160px;
		    font-size: 12px;

		    a {
		    	color: #1f3364;
		    	@include transition(opacity .5s);

		    	&:hover {
		    		opacity: .6;
		    		@include transition(opacity .25s);
		    	}
		    }
		}

		.LargePanel__bolts_horiz {
			position: absolute;
			left: 0;
			right: 0;

			&.top {
				top: 10px;
			}

			&.bottom {
				bottom: 10px;
			}

			.LargePanel__bolt {
				width: 10%;
				float: left;

				&:before {
					content: '';
					width: 10px;
					height: 10px;
					border: 1px solid black;
					border-radius: 50%;
					display: block;
					margin: 0 auto;
					background-color: white;
					@include animation(boltedLarge 1s forwards);
				}
			}
		}

		.LargePanel__bolts_vert {
			position: absolute;
			top: 75px;
			bottom: 0;

			&.left {
				left: 10px;
			}

			&.right {
				right: 10px;
			}

			.LargePanel__bolt {
				height: 20%;

				&:before {
					content: '';
					width: 10px;
					height: 10px;
					border: 1px solid black;
					border-radius: 50%;
					display: block;
					margin: 0 auto;
					background-color: white;
					@include animation(boltedLarge 1s forwards);
				}
			}
		}

		.LargePanel__desc {
			font-size: 14px;
			margin: 0 0 10px 0;

			span {
				font-weight: 700;
				font-size: 16px;
			}
		}

		.LargePanel__border {
			width: 7.25in; //actual panel specs
			height: 5in; //actual panel specs
			border: 1px solid black;
			position: relative;
			border-radius: 25px;
			background-color: #ececec;

			.LargePanel__surface_centered {
				@include center-element;

				.LargePanel__surface {
					@include complete-centering;
					width: 6in; //actual panel specs
					height: 3.75in; //actual panel specs
					border: 1px solid black;
					border-radius: 25px;
					overflow: hidden;
					position: relative;
					-webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
					
					background-color: white;
					background-image: linear-gradient(#d8d8d8 1px, transparent 1px),
					linear-gradient(90deg, #d8d8d8 1px, transparent 1px),
					linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
					linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
					background-size: .5in .5in, .5in .5in;
					background-position:-1px -1px, -1px -1px;

					.dragme_large {
						position: absolute;
						@include animation(fadePieceInLarge .5s forwards);
						cursor: move;
						//outline: 1px solid #999;
						//padding: .75in; //padding?

						img {
							width: 100%;
						}

						.dragme_close {
							position: absolute;
							cursor: pointer !important;
							top: -15px;
							right: 0px;
							width:16px;
							height: 16px;
							background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAx0lEQVQ4T63TTWpCMRTF8Z+jOpeuqbiGaukGWlCLXYJa7cfAsaCIGxDcla6hBPIgLxp5oJnl4/zvueeSlhtX60a9uwMe0cWm4OwVexyr+9zBC9YY4C+DjDHDM3YlQDgP4p8M8okp3rBMwaUMhviOkDYml8QBdC3EERax2lnlay1Udx+Yx02AhbbOVslBEH/hHQ/RSWjrNydcAqTiKrA0k9p0ckCY8ypWrqWdTKePbSmDDp7SOWeWezjg1CTERt/k7n+hUdX00T+JQCARtuY86QAAAABJRU5ErkJggg==);
							background-repeat: no-repeat;
							background-position: left center;
						}
					}
				}
			}
		}
	}

	.LargePanel__finishedView-enter {
		opacity: 0;
		@include transition(opacity .5s);

		&.LargePanel__finishedView-enter-active {
			opacity: 1;
			@include transition(opacity .5s);
		}
	}

	.LargePanel__finishedView-leave {
		opacity: 1;
		@include transition(opacity .5s);

		&.LargePanel__finishedView-leave-active {
			opacity: 0;
			@include transition(opacity .5s);
		}
	}
}

@include keyframes(boltedLarge) {
	0% {
		@include transform(scale3d(0,0,1));
	}
	100% {
		@include transform(scale3d(1,1,1));
	}
}

@include keyframes(fadePieceInLarge) {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}