.LargePanel {
  height: 745px;
  width: 1024px;
  border: 1px solid black;
  display: flex;
  display: -webkit-flex;
  border-radius: 25px;
  overflow: hidden;
  margin: 20px auto; }

.LargePanel .LargePanel__leftcol {
  width: 250px; }

.LargePanel .LargePanel__rightcol {
  padding-left: 15px; }

.LargePanel .LargePanel__rightcol h1 {
  font-size: 34px;
  margin: 10px 0 5px 0; }

.LargePanel .LargePanel__rightcol .LargePanel__bolts_horiz {
  position: absolute;
  left: 0;
  right: 0; }

.LargePanel .LargePanel__rightcol .LargePanel__bolts_horiz.top {
  top: 20px; }

.LargePanel .LargePanel__rightcol .LargePanel__bolts_horiz.bottom {
  bottom: 20px; }

.LargePanel .LargePanel__rightcol .LargePanel__bolts_horiz .LargePanel__bolt {
  width: 16.6666%;
  float: left; }

.LargePanel .LargePanel__rightcol .LargePanel__bolts_horiz .LargePanel__bolt:before {
  content: '';
  width: 15px;
  height: 15px;
  border: 1px solid black;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  background-color: white;
  -webkit-animation: boltedSmall 1s forwards;
  animation: boltedSmall 1s forwards; }

.LargePanel .LargePanel__rightcol .LargePanel__bolts_vert {
  position: absolute;
  top: 125px;
  bottom: 0; }

.LargePanel .LargePanel__rightcol .LargePanel__bolts_vert.left {
  left: 20px; }

.LargePanel .LargePanel__rightcol .LargePanel__bolts_vert.right {
  right: 20px; }

.LargePanel .LargePanel__rightcol .LargePanel__bolts_vert .LargePanel__bolt {
  height: 33.3333%; }

.LargePanel .LargePanel__rightcol .LargePanel__bolts_vert .LargePanel__bolt:before {
  content: '';
  width: 15px;
  height: 15px;
  border: 1px solid black;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  background-color: white;
  -webkit-animation: bolted 1s forwards;
  animation: bolted 1s forwards; }

.LargePanel .LargePanel__rightcol .LargePanel__desc {
  font-size: 14px;
  margin: 0 0 20px 0; }

.LargePanel .LargePanel__rightcol .LargePanel__desc span {
  font-weight: 700; }

.LargePanel .LargePanel__rightcol .LargePanel__border {
  width: 742px;
  height: 562px;
  border: 1px solid black;
  position: relative;
  border-radius: 25px;
  background-color: #ececec; }

.LargePanel .LargePanel__rightcol .LargePanel__border .LargePanel__surface_centered {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center; }

.LargePanel .LargePanel__rightcol .LargePanel__border .LargePanel__surface_centered:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%; }

.LargePanel .LargePanel__rightcol .LargePanel__border .LargePanel__surface_centered .LargePanel__surface {
  vertical-align: middle;
  display: inline-block;
  width: 100%;
  width: 562px;
  height: 379px;
  border: 1px solid black;
  border-radius: 25px;
  background-color: white; }

@-webkit-keyframes boltedSmall {
  0% {
    -webkit-transform: scale3d(0, 0, 1);
    transform: scale3d(0, 0, 1); }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

@keyframes boltedSmall {
  0% {
    -webkit-transform: scale3d(0, 0, 1);
    transform: scale3d(0, 0, 1); }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
