.ConnectorLibrary {
  width: auto;
  padding: 10px;
  border-right: 1px solid black; }
  .ConnectorLibrary h2 {
    font-size: 18px;
    margin: 10px 0;
    font-weight: 700; }
  .ConnectorLibrary .desc {
    font-size: 14px; }
    .ConnectorLibrary .desc .underline {
      text-decoration: underline; }
  .ConnectorLibrary.small_connectors {
    height: 580px; }
    .ConnectorLibrary.small_connectors ul li {
      max-width: 100%; }
  .ConnectorLibrary.medium_connectors {
    height: 660px; }
    .ConnectorLibrary.medium_connectors ul li {
      max-width: 100%; }
  .ConnectorLibrary.large_connectors {
    height: 660px; }
    .ConnectorLibrary.large_connectors ul li {
      max-width: 100%; }
  .ConnectorLibrary .ConnectorLibrary__list {
    text-align: center;
    -webkit-animation: fadeInConnectors 1.2s forwards;
    animation: fadeInConnectors 1.2s forwards;
    opacity: 0; }
    .ConnectorLibrary .ConnectorLibrary__list .title {
      padding: 30px 0 20px 0;
      text-decoration: underline;
      font-weight: 700;
      font-size: 16px; }
    .ConnectorLibrary .ConnectorLibrary__list ul li {
      padding: 10px;
      cursor: pointer;
      opacity: .8;
      margin: 0 auto;
      -webkit-transition: opacity 0.25s;
      transition: opacity 0.25s; }
      .ConnectorLibrary .ConnectorLibrary__list ul li:hover {
        opacity: 1;
        -webkit-transition: opacity 0.25s;
        transition: opacity 0.25s; }
      .ConnectorLibrary .ConnectorLibrary__list ul li img {
        max-width: 100%;
        -webkit-transition: all 0.25s;
        transition: all 0.25s; }
        .ConnectorLibrary .ConnectorLibrary__list ul li img:focus, .ConnectorLibrary .ConnectorLibrary__list ul li img:active {
          opacity: .75 !important;
          -webkit-transform: scale3d(0.95, 0.95, 1);
          transform: scale3d(0.95, 0.95, 1);
          -webkit-transition: all 0.25s;
          transition: all 0.25s; }
      .ConnectorLibrary .ConnectorLibrary__list ul li .connectortype {
        padding: 5px; }

@-webkit-keyframes fadeInConnectors {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeInConnectors {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
