@import './../../Shared.scss';

.PanelChoice {
	margin: 50px 0;

	.PanelChoice__title {
		text-align: center;
		margin: 60px 0;

		h2 {
			font-size: 30px;
		}
	}

	.PanelChoice__dropdown {
		width: 300px;
		height: 50px;
		border-radius: 18px;
		border: 1px solid black;
		margin: 0 auto;
		position: relative;
		cursor: pointer;
		margin-bottom: 150px;

		.text {
			white-space: nowrap;
			font-size: 18px;
			color: #d2d0d0;
			@include center-element;

			div {
				@include complete-centering;
			}
		}
	}

	.PanelChoice__start_btn {
		margin: 0 auto;
		border-radius: 50%;
		height: 100px;
		width: 100px;
		background-color: red;
		position: relative;
		opacity: .2;
		cursor: pointer;
		@include transition(all .5s);
		@include transform(scale3d(.95,.95,1));

		&:hover {
			@include transition(all .25s);
			@include transform(scale3d(1,1,1));
			.inner_outline .centered {
				opacity: 1;
				@include transition(all .4s);
				@include transform(scale3d(1,1,1));
			}
		}

		.inner_outline {
			@include center-element;

			.centered {
				@include complete-centering;
				border: 2px solid white;
				border-radius: 50%;
				height: 88px;
				width: 88px;
				background-color: transparent;
				opacity: 0;
				@include transition(all 1.5s);
				@include transform(scale3d(0,0,1));
			}
		}

		.text {
			@include center-element;
			color: white;
			font-size: 20px;
			line-height: 20px;
			font-weight: 700;

			div {
				@include complete-centering;
			}
		}
	}
}