@import './../../Shared.scss';

.Quote {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(255,255,255,.9);
	border-radius: 25px;

	.Quote__content {
		margin-top: 15px;

		.Quote__close {
			position: absolute;
			top: 10px;
			right: 10px;
			border-radius: 50%;
			width: 25px;
			height: 25px;
			background-color: #1f3364;
			cursor: pointer;
			@include transition(opacity .25s);

			&:hover {
				opacity:.8;
				@include transition(opacity .25s);
			}

			&:before {
				content: '';
			    display: block;
			    height: 10px;
			    position: absolute;
			    left: 11.5px;
			    width: 2px;
			    top: 7.5px;
			    background-color: white;
			    @include transform(rotate(45deg));
			    @include animation(closeRotateIn 1s forwards);
			}

			&:after {
				content: '';
			    display: block;
			    height: 10px;
			    position: absolute;
			    left: 11.5px;
			    width: 2px;
			    top: 7.5px;
			    background-color: white;
			    @include transform(rotate(-45deg));
			    @include animation(closeRotateInTwo 1s forwards);
			}
		}

		h3 {
			font-size: 34px;
			text-align: center;
		}

		.Quote__fieldtitle {
			text-align: center;
			font-size: 18px;
			font-weight: 700;
			margin: 10px 0;
		}

		.Quote__input {
			text-align: center;
			margin: 10px 0;

			input, textarea {
				border: 1px solid #727272;
				height: 25px;
    			width: 300px;
    			padding: 2px;
    			font-size: 16px;
			}

			textarea {
				height: 75px;
			}
		}

		.Quote__offishbtn {
			margin: 0 auto;
			border-radius: 50%;
			height: 70px;
			width: 70px;
			position: relative;
			opacity: .2;
			@include transition(all .5s);
			@include transform(scale3d(.95,.95,1));
			@include animation(1s buttonUpPlease forwards);

			&.blue {
				background-color: #1f3364;
				opacity: 1;
				> div {
					cursor: pointer;
				}

				&:hover {
					@include transition(all .25s);
					@include transform(scale3d(1,1,1));
					.inner_outline .centered {
						opacity: 1;
						@include transition(all .2s);
						@include transform(scale3d(1,1,1));
					}
				}
			}

			.inner_outline {
				@include center-element;

				.centered {
					@include complete-centering;
					border: 2px solid #eaeaea;
					border-radius: 50%;
					height: 62px;
					width: 62px;
					background-color: transparent;
					opacity: 0;
					@include transition(all .75s);
					@include transform(scale3d(.9,.9,1));
				}
			}

			.text {
				@include center-element;
				color: white;
				font-size: 14px;
				line-height: 20px;

				div {
					@include complete-centering;
				}
			}
		}
	}
}

@include keyframes(closeRotateIn) {
	0% {
		opacity: 0;
		@include transform(rotate(0deg));
	}
	100% {
		opacity: 1;
		@include transform(rotate(45deg));
	}
}

@include keyframes(closeRotateInTwo) {
	0% {
		opacity: 0;
		@include transform(rotate(0deg));
	}
	100% {
		opacity: 1;
		@include transform(rotate(-45deg));
	}
}

@include keyframes(buttonUpPlease) {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}